{% extends 'base.html.twig' %}

{% block title %}Price range{% endblock %}

{% block body %}

    <h1>Price</h1>

    <table class="table">

        {% if is_granted('ROLE_ADMIN') %}
        <th>Id</th>
        <td>{{ price.id }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Name</th>
            <td>{{ price.name }}</td>
        </tr>
        <tr>
            <th>Products for this Price range</th>
            <td>
                {% for product in price.products %}
                    {{ product.id }} :: {{ product.description }}
                    <br>
                {% else %}
                    (no products for this category)
                {% endfor %}
            </td>
        </tr>

    </table>


    <a href="{{ path('price_edit', {'id': price.id}) }}">edit</a>
    <a href="{{ path('price_index') }}">back to list</a>
    {% include 'price/_delete_form.html.twig' with {'identifier': price.id} only %}

{% endblock %}