{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('review_myReview') }}">My Reviews</a>
    {% endif %}
    <h1>Review index</h1>
    <table class="table">
        <thead>
            <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Id</th>
            {% endif %}
                <th>Product</th>
                <th>Rating</th>
                <th>Username</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>


        {% for review in reviews %}
            <tr>
            {% if is_granted('ROLE_ADMIN') %}
                <td>{{ review.id }}</td>
            {% endif %}
                <td><a href="{{ path('product_show', {'id': review.product.id}) }}">{{ review.product.title }}</a></td>
                <td>{{ review.rating }}</td>
                <td>{{ review.username }}</td>
                <td>{{ review.description }}</td>

                <td>

                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                    {% elseif is_granted('ROLE_USER') %}
                        {% if review.username ==  app.user.username %}
                            <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('review_new') }}">Create new</a>
    {% endif %}
{% endblock %}