{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <h1>{{ product.title }}</h1>


    <table class="table">
    {% if is_granted('ROLE_ADMIN') %}
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        {% endif %}
        <tr>
        <tr>
            <th>Image</th>
            <td><img src="/images/{{ product.image }}" alt={{ product.image }} /></td>
        </tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>

        <tr>
            <th>Price</th>
            <td>{{ product.price.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ product.category.name }}</td>
        </tr>
    </table>

    <h2>Reviews for this product</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>description</th>
            <th>Actions</th>
        </tr>
        {% for review in product.reviews %}
            <tr>
                <td>{{ review.username }}</td>
                <td>
                    {% if review.rating == 0.5 %}
                        <span class="fa fa-star-half checked"></span>
                    {% endif %}
                    {% if review.rating >=1 %}
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if review.rating == 1.5 %}
                        <span class="fa fa-star-half checked"></span>
                    {% endif %}
                    {% if review.rating >=2 %}
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if review.rating == 2.5 %}
                        <span class="fa fa-star-half checked"></span>
                    {% endif %}
                    {% if review.rating >=3 %}
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if review.rating == 3.5 %}
                        <span class="fa fa-star-half checked"></span>
                    {% endif %}
                    {% if review.rating >=4 %}
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    {% if review.rating == 4.5 %}
                        <span class="fa fa-star-half checked"></span>
                    {% endif %}
                    {% if review.rating >=5 %}
                        <span class="fa fa-star checked"></span>
                    {% endif %}

                </td>
                <td>{{ review.description }}</td>

                <td>

                <a href="{{ path('review_show', {'id': review.id}) }}">Show</a>
               {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                    {% elseif is_granted('ROLE_USER') %}
                        {% if review.username ==  app.user.username %}
                            <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                        {% endif %}
                    {% endif %}
                </td>

            </tr>
            <br>
        {% else %}
            (no products for this category)
        {% endfor %}
        </td>
        </tr>

    </table>


    <td><a href="{{ path('review_new', {'product': product.category}) }}">review product</a></td>

    <a href="{{ path('product_index') }}">back to list</a>





{% endblock %}